.git
.gitignore
**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.env
**/.DS_Store
frontend
sst_v1
soap_create
praj_ui
src
docs
database/.venv
database/migrations
database/scripts
backend/.venv
backend/tests
